<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>55_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,1094},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{44,56}}</string>
                <key>sourceSize</key>
                <string>{48,56}</string>
            </dict>
            <key>66_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1094},{46,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{46,54}}</string>
                <key>sourceSize</key>
                <string>{48,56}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,960}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{578,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,128}}</string>
                <key>sourceSize</key>
                <string>{578,128}</string>
            </dict>
            <key>chongwan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,673},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>fanhui_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,572},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>mianban_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1134},{1087,552}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{1087,552}}</string>
                <key>sourceSize</key>
                <string>{1087,554}</string>
            </dict>
            <key>miankuang1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1143},{871,327}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{871,327}}</string>
                <key>sourceSize</key>
                <string>{871,329}</string>
            </dict>
            <key>miankuang2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,1143},{796,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{796,395}}</string>
                <key>sourceSize</key>
                <string>{796,397}</string>
            </dict>
            <key>miankuang3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{1130,636}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{1130,636}}</string>
                <key>sourceSize</key>
                <string>{1136,636}</string>
            </dict>
            <key>quxiao_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,774},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>shangcheng_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,471},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>shouye_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,370},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>xiayiguan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,269},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>yeqian2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,1005},{136,90}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{136,90}}</string>
                <key>sourceSize</key>
                <string>{140,92}</string>
            </dict>
            <key>yeqian_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,867},{136,90}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{136,90}}</string>
                <key>sourceSize</key>
                <string>{140,92}</string>
            </dict>
            <key>you_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,85},{81,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{81,100}}</string>
                <key>sourceSize</key>
                <string>{85,102}</string>
            </dict>
            <key>zanting_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,168},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>zuo_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,2},{81,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,100}}</string>
                <key>sourceSize</key>
                <string>{81,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>comm.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bf6ed2aaee08ebe6692f67d82895199:1/1$</string>
            <key>textureFileName</key>
            <string>comm.png</string>
        </dict>
    </dict>
</plist>
