<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoxiang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1879},{103,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,82}}</string>
                <key>sourceSize</key>
                <string>{103,82}</string>
            </dict>
            <key>beibao_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1434},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,960}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>cangku_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1438},{71,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>chuangguan_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1665},{379,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,101}}</string>
                <key>sourceSize</key>
                <string>{381,101}</string>
            </dict>
            <key>dikuang1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{241,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{241,54}}</string>
                <key>sourceSize</key>
                <string>{241,56}</string>
            </dict>
            <key>fudan_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1359},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>gonggao_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1284},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>hecheng_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1515},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>huizhang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1361},{71,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>jinbi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1592},{66,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>kuang5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,245},{184,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{184,51}}</string>
                <key>sourceSize</key>
                <string>{188,51}</string>
            </dict>
            <key>renwu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{218,470}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,470}}</string>
                <key>sourceSize</key>
                <string>{220,474}</string>
            </dict>
            <key>shangcheng_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1515},{69,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{69,75}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>shezhi_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1284},{71,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>suoding_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1284},{379,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{379,101}}</string>
                <key>sourceSize</key>
                <string>{381,101}</string>
            </dict>
            <key>touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1756},{121,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,117}}</string>
                <key>sourceSize</key>
                <string>{121,117}</string>
            </dict>
            <key>tujian_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1660},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>xinfeng_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1879},{107,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{107,78}}</string>
                <key>sourceSize</key>
                <string>{111,78}</string>
            </dict>
            <key>zhantai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1756},{256,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{256,106}}</string>
                <key>sourceSize</key>
                <string>{260,114}</string>
            </dict>
            <key>zuanshi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1984},{68,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{68,59}}</string>
                <key>sourceSize</key>
                <string>{72,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df45b868905d3259d4d9d637890f124c:1/1$</string>
            <key>textureFileName</key>
            <string>hall.png</string>
        </dict>
    </dict>
</plist>
