<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{203,188}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,188}}</string>
                <key>sourceSize</key>
                <string>{205,206}</string>
            </dict>
            <key>02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{195,178}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{195,178}}</string>
                <key>sourceSize</key>
                <string>{205,206}</string>
            </dict>
            <key>03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,172},{201,166}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{201,166}}</string>
                <key>sourceSize</key>
                <string>{205,206}</string>
            </dict>
            <key>04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{195,168}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{195,168}}</string>
                <key>sourceSize</key>
                <string>{205,206}</string>
            </dict>
            <key>05_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{201,168}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{201,168}}</string>
                <key>sourceSize</key>
                <string>{205,206}</string>
            </dict>
            <key>06_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,340},{195,174}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{195,174}}</string>
                <key>sourceSize</key>
                <string>{205,206}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lang_animaition.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d080c56d1d21648233cd0b9a768bb17:1/1$</string>
            <key>textureFileName</key>
            <string>lang_animaition.png</string>
        </dict>
    </dict>
</plist>
