<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fangzhi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{119,143}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,143}}</string>
                <key>sourceSize</key>
                <string>{119,145}</string>
            </dict>
            <key>goumai2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,241},{100,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,42}}</string>
                <key>sourceSize</key>
                <string>{100,42}</string>
            </dict>
            <key>goumai_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,960},{100,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,43}}</string>
                <key>sourceSize</key>
                <string>{100,43}</string>
            </dict>
            <key>hengban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{956,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{956,71}}</string>
                <key>sourceSize</key>
                <string>{958,73}</string>
            </dict>
            <key>suoding_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,123},{116,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,141}}</string>
                <key>sourceSize</key>
                <string>{118,141}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shangcheng.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c1a1fd30576b0c2ecc994304fe3ec03:1/1$</string>
            <key>textureFileName</key>
            <string>shangcheng.png</string>
        </dict>
    </dict>
</plist>
