<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,619},{270,283}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,1},{270,283}}</string>
                <key>sourceSize</key>
                <string>{308,289}</string>
            </dict>
            <key>11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{245,285}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{245,285}}</string>
                <key>sourceSize</key>
                <string>{259,289}</string>
            </dict>
            <key>12_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{245,289}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{245,289}}</string>
                <key>sourceSize</key>
                <string>{259,289}</string>
            </dict>
            <key>13_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,360},{300,285}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{300,285}}</string>
                <key>sourceSize</key>
                <string>{304,289}</string>
            </dict>
            <key>2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,619},{195,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{195,268}}</string>
                <key>sourceSize</key>
                <string>{287,268}</string>
            </dict>
            <key>3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,37},{327,321}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{327,321}}</string>
                <key>sourceSize</key>
                <string>{331,323}</string>
            </dict>
            <key>4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,647},{289,270}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{289,270}}</string>
                <key>sourceSize</key>
                <string>{293,270}</string>
            </dict>
            <key>5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,550},{291,259}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{291,259}}</string>
                <key>sourceSize</key>
                <string>{293,261}</string>
            </dict>
            <key>6_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,552},{291,251}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,251}}</string>
                <key>sourceSize</key>
                <string>{293,261}</string>
            </dict>
            <key>7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,261},{306,289}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{306,289}}</string>
                <key>sourceSize</key>
                <string>{308,289}</string>
            </dict>
            <key>8_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,893},{266,263}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{266,263}}</string>
                <key>sourceSize</key>
                <string>{308,289}</string>
            </dict>
            <key>9_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,261},{300,287}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{300,287}}</string>
                <key>sourceSize</key>
                <string>{308,289}</string>
            </dict>
            <key>anniu1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,887},{281,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,80}}</string>
                <key>sourceSize</key>
                <string>{281,80}</string>
            </dict>
            <key>anniu2_03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,811},{281,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,80}}</string>
                <key>sourceSize</key>
                <string>{281,80}</string>
            </dict>
            <key>anniu5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,805},{281,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,80}}</string>
                <key>sourceSize</key>
                <string>{281,80}</string>
            </dict>
            <key>anniu6_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,889},{281,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,80}}</string>
                <key>sourceSize</key>
                <string>{281,80}</string>
            </dict>
            <key>chongwu1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,619},{285,268}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,268}}</string>
                <key>sourceSize</key>
                <string>{287,268}</string>
            </dict>
            <key>gongjili_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2016,37},{188,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,29}}</string>
                <key>sourceSize</key>
                <string>{188,29}</string>
            </dict>
            <key>jineng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,735},{156,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,33}}</string>
                <key>sourceSize</key>
                <string>{156,33}</string>
            </dict>
            <key>kuang2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,512},{177,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,45}}</string>
                <key>sourceSize</key>
                <string>{177,45}</string>
            </dict>
            <key>kuang3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,2},{355,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,33}}</string>
                <key>sourceSize</key>
                <string>{355,33}</string>
            </dict>
            <key>kuang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,2},{609,257}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{609,257}}</string>
                <key>sourceSize</key>
                <string>{609,259}</string>
            </dict>
            <key>mianban_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1072,615}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1072,615}}</string>
                <key>sourceSize</key>
                <string>{1074,615}</string>
            </dict>
            <key>nan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,475},{35,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,50}}</string>
                <key>sourceSize</key>
                <string>{35,50}</string>
            </dict>
            <key>nv_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,438},{35,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,50}}</string>
                <key>sourceSize</key>
                <string>{35,50}</string>
            </dict>
            <key>shuxing1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,691},{63,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,42}}</string>
                <key>sourceSize</key>
                <string>{63,44}</string>
            </dict>
            <key>shuxing2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,360},{39,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{39,53}}</string>
                <key>sourceSize</key>
                <string>{41,53}</string>
            </dict>
            <key>shuxing3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,401},{35,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,51}}</string>
                <key>sourceSize</key>
                <string>{35,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tujian.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c082887b00ffa8b6e06f0013e798274:1/1$</string>
            <key>textureFileName</key>
            <string>tujian.png</string>
        </dict>
    </dict>
</plist>
