<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,88},{67,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{67,75}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{61,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,80}}</string>
                <key>sourceSize</key>
                <string>{63,80}</string>
            </dict>
            <key>7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,172},{76,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{76,32}}</string>
                <key>sourceSize</key>
                <string>{78,36}</string>
            </dict>
            <key>8_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,84}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>9_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{63,63}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{63,63}}</string>
                <key>sourceSize</key>
                <string>{67,71}</string>
            </dict>
            <key>9_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{73,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{73,82}}</string>
                <key>sourceSize</key>
                <string>{79,84}</string>
            </dict>
            <key>bullte1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,67},{41,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,15}}</string>
                <key>sourceSize</key>
                <string>{41,15}</string>
            </dict>
            <key>bullte2.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,228},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{28,25}</string>
            </dict>
            <key>bullte3.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,165},{47,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,20}}</string>
                <key>sourceSize</key>
                <string>{47,20}</string>
            </dict>
            <key>bullte4.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,165},{61,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,23}}</string>
                <key>sourceSize</key>
                <string>{61,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wuqi.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ba8bbc63765840c55173c845e354928:1/1$</string>
            <key>textureFileName</key>
            <string>wuqi.png</string>
        </dict>
    </dict>
</plist>
